/* Neomorphic Clock */

:root {
    --accent: red;
}

@media (prefers-color-scheme: light) {
    .th1 {
        --bg: #ddd;
        --arrow: #333;
        --shadow: rgba(0, 0, 0, 0.1);
        --light: rgba(255, 255, 255, 0.3);
    }
    .th2 {
        --bg: #333;
        --arrow: #ddd;
        --shadow: rgba(0, 0, 0, 0.3);
        --light: rgba(255, 255, 255, 0.1);
    }
}

@media (prefers-color-scheme: dark) {
    .th1 {
        --bg: #333;
        --arrow: #ddd;
        --shadow: rgba(0, 0, 0, 0.3);
        --light: rgba(255, 255, 255, 0.1);
    }
    .th2 {
        --bg: #ddd;
        --arrow: #333;
        --shadow: rgba(0, 0, 0, 0.1);
        --light: rgba(255, 255, 255, 0.3);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background: #091921;*/
    background: var(--bg);
}

div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#border {
    width: 400px;
    height: 400px;
    /*background: url("../img/clock.png");*/
    background-size: cover;
    /*border: 4px solid #091921;*/
    /*border-filter: blur(4px);*/
    border-radius: 50%;
    box-shadow: 0 -15px 15px var(--light),
                inset 0 -15px 15px var(--light),
                0 15px 15px var(--shadow),
                inset 0 15px 15px var(--shadow);
}

#center {
    background: var(--arrow);
    border-radius: 5px;
    height: 10px;
    width: 10px;
}

.arrow {
    height: 350px;
    width: 350px;
}

.arrow div {
    border-radius: 5px 5px 0 0;
    transform: translate(-50%, -100%);
    background: var(--arrow);
}

#h div {
    height: 50px;
    width: 10px;
}

#m div {
    height: 150px;
    width: 10px;
}

#s div {
    transform: translate(-50%, -75%);
    height: 200px;
    width: 3px;
    border-radius: 0;
    background: var(--accent);
}

/*body {
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--el);
}*/
